@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  background: rgb(213, 213, 213);
}

.app-title {
  width: 100%;
  padding: 20px 0;
  display: flex;
  justify-content: center;
}

.app-title h1 {
  font-size: 2.5em;
  font-style: italic;
  text-shadow: 1px 1px #50fff5;
  font-weight: bold;
}

.app-welcome h2 {
  margin-top: 20px;
  text-align: center;
  font-size: 2.5em;
  font-style: italic;
  text-shadow: 2px 2px #50fff5;
  font-weight: bold;
}

.app-welcome h4 {
  margin-top: 20px;
  text-align: center;
  font-size: 2em;
  font-style: italic;
  font-weight: bold;
  margin-bottom: 50px;
}

.row-buttons {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.custom-btn {
  font-weight: bold;
  font-style: italic;
  color: black;
}

.form-control {
  height: 5em;
}

.custom-fg textarea {
  width: 100%;
}

.container-len {
  text-align: right;
  padding-bottom: 10px;
}

.tweetsDashboard {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tweet-card {
  border: 8px inset #50fff5;
  background: #d6cdcd;
}

.tweet-card h4 {
  font-weight: 500;
  margin-bottom: 5px;
}

.tweet-card .date {
  text-align: right;
  margin-top: 10px;
}

.tweet-card .footer-tweet {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 5px;
}

.tweet-card .footer-tweet i {
  padding-top: 10px;
}

.reports .row {
  margin-top: 30px;
  text-align: center;
}

.reports .row .col-title {
  font-weight: bold;
  font-size: 1.2em;
}

.app-users {
  font-weight: bold;
  font-style: italic;
  margin-top: 50px;
  font-size: 1.2em;
}
